* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

label {
    cursor: pointer;
}

#btn1 {
    background-color: rgb(224, 180, 180);
    width: 100px;
    height: 60px;
    font-size: 20px;
    transition: .2s;
    border: 0;
}

/* hovers */

#btn1:hover {
    background-color: rgb(211, 211, 211);
    transition: .2s;
}