body {
    font-family: 'Lato', sans-serif;
    font-size: 25px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h3 {
    text-align: center;
}

table, td, th{
    border: 1px solid black;
    text-align: center;
}

td {
    padding: 10px;
}

.top {
    background-color: rgba(26, 33, 48, 0.596);
    color: aliceblue;
    font-size: 10px;
}

.cover {
    background-color: rgba(31, 212, 100, 0.596);
    color: rgb(16, 120, 211);
    font-size: 16px;
}

.name {
    background-color: rgba(208, 69, 221, 0.596);
    color: rgb(169, 211, 16);
    font-size: 30px;
}

.release {
    background-color: rgba(73, 22, 192, 0.596);
    color: rgb(211, 16, 16);
    font-size: 20px;
}

img {
    width: 150px;
}
